<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" type="text/css" href="../css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/me.css"/>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu('分类')" class="ui inverted attached segment nav-padd-min shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui header teal item">管理后台</h2>
            <a href="index.html" class="item head-a m-btn active"><i class="home icon"></i>博客</a>
            <a href="type.html" class="item head-a m-btn"><i class="idea icon"></i>分类</a>
            <a href="tags.html" class="item head-a m-btn"><i class="tags icon"></i>标签</a>
            <div class="right menu m-btn head-a">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../img/per.jpg" class="ui avatar image"/> Jason
                        <i class="dropdown icon"></i>
                    </div>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button head-btn menu btn" style="position: absolute;top: 0px;right: 2px;">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui menu attached pointing">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/type/input}" class="item">新增</a>
            <a th:href="@{/admin/type/1}" class="item teal active">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div style="padding: 6em 0;">
    <div class="ui container" style="max-width: 70em !important;padding: 6em 6em;">
        <div class="ui success message animated" th:if="${msg ne null}" th:classappend="${msg ne null}?'fadeIn'">
            <i class="close icon"></i>
            <p th:text="${msg}"></p>
        </div>
        <div class="ui error message animated" th:if="${error ne null}" th:classappend="${error ne null}?'fadeIn'">
            <i class="close icon"></i>
            <p th:text="${error}"></p>
        </div>
        <table class="ui table celled" style="text-align: center;">
            <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${size eq 0}">
                <td colspan="3">暂无分类</td>
            </tr>
            <tr th:each="type:${page}" th:unless="${size eq 0}">
                <td th:text="${typeStat.count}">1</td>
                <td th:text="${type.getName()}">JAVA</td>
                <td>
                    <a th:href="@{'/admin/type/update/'+${type.getId()}}" class="ui teal basic button table-a">编辑</a>
                    <a th:href="@{'/admin/type/delete/'+${type.getId()}}" class="ui red basic button table-a">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    <div style="display: inline-block;float: left;" th:unless="${size eq 0}">
                        <div style="display: block;float: left;padding: 0.8em 0.5em;">
                            <div>当前第&nbsp;&nbsp;<span th:text="${num.getCurPage()}"></span>&nbsp;&nbsp;页，共&nbsp;&nbsp;<span
                                    th:text="${num.getTotalPage()}"></span>&nbsp;&nbsp;页
                            </div>
                        </div>
                        <div class="ui pagination menu" th:if="${num.getTotalPage() gt 1}"
                             style="display: block;float: left;">
                            <a th:if="${num.isPrevious()}"
                               th:href="@{'/admin/type/'+${num.getPrePage()}}"
                               class="item" style="display: inline-block;">上一页</a>
                            <a th:if="${num.isNext()}"
                               th:href="@{'/admin/type/'+${num.getNextPage()}}"
                               class="item" style="display: inline-block;">下一页</a>
                        </div>
                    </div>
                    <a th:href="@{/admin/type/input}" class="ui teal basic button"
                       style="display: inline-block;float: right;">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br/><br/><br/>
<th:block th:replace="admin/_fragments :: script">
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/semantic.min.js"></script>
</th:block>

<script type="text/javascript">
    $('.menu.btn').click(function () {
        $('.m-btn').toggleClass('head-a');
    });
    $('.dropdown').dropdown({
        on: 'hover'
    });
    $('.close').click(function () {
        $('.message').removeClass('fadeIn').addClass('fadeOut').transition('fade');
    });
</script>
</body>
</html>