<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.blog.mapper.BlogMapper">
    <!--分页显示并按照updateTime进行倒序-->
    <select id="listAll" resultMap="blog_listAll">
        select b.*,t.*,u.* from t_blog b,t_type t,user u
        where b.typeId=t.tId and b.userId=u.id
        order by b.updateTime desc
        limit #{index},#{size}
    </select>
    <resultMap id="blog_listAll" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
        <collection property="user" ofType="User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="email" column="email"></result>
            <result property="authority" column="authority"></result>
            <result property="headPic" column="headPic"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updateTime" column="updateTime"></result>
        </collection>
    </resultMap>

    <!--分页显示并按照updateTime进行倒序&发布-->
    <select id="listAllByPublish" resultMap="blog_listAllByPublish">
        select b.*,t.*,u.* from t_blog b,t_type t,user u
        where b.typeId=t.tId and b.userId=u.id and b.publish=true
        order by b.updateTime desc
        limit #{index},#{size}
    </select>
    <resultMap id="blog_listAllByPublish" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
        <collection property="user" ofType="User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="email" column="email"></result>
            <result property="authority" column="authority"></result>
            <result property="headPic" column="headPic"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updateTime" column="updateTime"></result>
        </collection>
    </resultMap>

    <!--根据id查询-->
    <select id="findById" resultMap="blog" parameterType="java.lang.Long">
        select * from t_blog b,t_type t,user u where b.id=#{id} and b.typeId=t.tId and b.userId=u.id
    </select>
    <resultMap id="blog" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
        <collection property="user" ofType="User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="email" column="email"></result>
            <result property="authority" column="authority"></result>
            <result property="headPic" column="headPic"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updateTime" column="updateTime"></result>
        </collection>
    </resultMap>

    <!--查询总数量-->
    <select id="countAll" resultType="java.lang.Long">
        select count(*) from t_blog
    </select>

    <!--根据title&typeId&recommend分页并按照updateTime进行倒序-->
    <select id="pageForTTR" resultMap="blog_ttr" parameterType="HashMap" resultType="Blog">
        select * from t_blog b,t_type t
        <where>
            b.title like concat("%",#{title},"%")
            and b.typeId=t.tId
            <if test="typeId!=null">
                and b.typeId=#{typeId}
            </if>
            and b.recommend=#{recommend}
        </where>
        order by updateTime desc limit #{index},#{size}
    </select>
    <resultMap id="blog_ttr" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend" javaType="java.lang.Boolean"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
    </resultMap>

    <!--title&typeId&recommend条件查询数量-->
    <select id="count" resultType="java.lang.Long" parameterType="HashMap">
        select count(*) from t_blog b
        <where>
            b.title like concat("%",#{title},"%")
            <if test="typeId!=null">
                and b.typeId=#{typeId}
            </if>
            and b.recommend=#{recommend}
        </where>
    </select>

    <!--新增Blog-->
    <insert id="saveBlog" parameterType="HashMap">
        insert into t_blog (title,content,firstPic,flag,views,appreciation,shareStatement,
        commentAble,publish,recommend,createTime,updateTime,description,typeId,userId)
        values(#{title},#{content},#{firstPic},#{flag},#{views},#{appreciation},#{shareStatement},
        #{commentAble},#{publish},#{recommend},#{createTime},#{updateTime},#{description},#{typeId},#{userId})
    </insert>

    <!--根据id修改-->
    <update id="updateBlog" parameterType="HashMap">
        update t_blog set title=#{title},content=#{content},firstPic=#{firstPic},flag=#{flag},
        appreciation=#{appreciation},shareStatement=#{shareStatement},commentAble=#{commentAble},
        publish=#{publish},recommend=#{recommend},updateTime=#{updateTime},description=#{description},
        typeId=#{typeId} where id=#{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteBlog" parameterType="long">
        delete from t_blog where id=#{id}
    </delete>

    <!--根据typeId查询-->
    <select id="findByTypeId" parameterType="java.lang.Long" resultType="Blog">
        select * from t_blog where typeId=#{typeId}
    </select>

    <!--根据title查询-->
    <select id="findByTitle" parameterType="java.lang.String" resultType="Blog">
        select * from t_blog where title=#{title}
    </select>

    <!--最新推荐-->
    <select id="newTop" parameterType="int" resultType="Blog">
        select * from t_blog
        where recommend=true
        order by updateTime desc
        limit 0,#{size}
    </select>

    <!--已发布数量-->
    <select id="countPublish" resultType="java.lang.Long">
        select count(*) from t_blog
        where publish=true
    </select>

    <!--全局搜索-->
    <select id="searchBlog" parameterType="java.util.HashMap" resultType="Blog" resultMap="search">
        select * from t_blog b,t_type t,user u
        where (title like concat("%",#{query},"%")
        or b.content like concat("%",#{query},"%") )
        and b.publish=true and b.typeId=t.tId and b.userId=u.id
        order by b.updateTime desc
        limit #{index},#{size}
    </select>
    <resultMap id="search" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
        <collection property="user" ofType="User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="email" column="email"></result>
            <result property="authority" column="authority"></result>
            <result property="headPic" column="headPic"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updateTime" column="updateTime"></result>
        </collection>
    </resultMap>

    <!--全局搜索总数-->
    <select id="searchCount" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from t_blog
        where title like concat("%",#{query},"%")
        or content like concat("%",#{query},"%")
    </select>

    <!--归档，按照年份分组-->
    <select id="archives" resultType="int">
        select date_format(updateTime,"%Y") year from t_blog group by year order by updateTime
    </select>

    <select id="findAllBlogByYear" resultMap="year" parameterType="int" resultType="Blog">
        select * from t_blog where date_format(updateTime,"%Y") = #{year}
    </select>
    <resultMap id="year" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
    </resultMap>

    <!--浏览次数-->
    <update id="viewsAdd" parameterType="Long">
        update t_blog set views=views+1 where id=#{id}
    </update>
</mapper>