<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.blog.mapper.CommentMapper">
    <!--根据parentCommentId为null查询-->
    <select id="parentCommentIdIsNull" resultType="Comment" resultMap="parentComment" parameterType="Long">
        select * from t_comment where parentCommentId is null and blogId=#{blogId}
    </select>
    <resultMap id="parentComment" type="Comment">
        <id property="id" column="id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="content" column="content"></result>
        <result property="headPic" column="headPic"></result>
        <result property="createTime" column="createTime"></result>
        <result property="adminComment" column="adminComment"></result>
        <collection property="parentComment" ofType="Comment">
            <id property="id" column="parentCommentId"></id>
        </collection>
        <collection property="blog" ofType="Blog">
            <result property="id" column="blogId"></result>
        </collection>
    </resultMap>

    <!--根据parentCommentId查询所有的子回复-->
    <select id="replayComment" resultMap="replayComment" resultType="Comment" parameterType="Long">
        select * from t_comment where parentCommentId=#{parentCommentId}
    </select>
    <resultMap id="replayComment" type="Comment">
        <id property="id" column="id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="content" column="content"></result>
        <result property="headPic" column="headPic"></result>
        <result property="createTime" column="createTime"></result>
        <result property="adminComment" column="adminComment"></result>
        <collection property="parentComment" ofType="Comment">
            <id property="id" column="parentCommentId"></id>
        </collection>
        <collection property="blog" ofType="Blog">
            <result property="id" column="blogId"></result>
        </collection>
    </resultMap>

    <!--根据id查询-->
    <select id="findById" resultMap="findById" resultType="Comment" parameterType="Long">
        select * from t_comment where id=#{id}
    </select>
    <resultMap id="findById" type="Comment">
        <id property="id" column="id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="content" column="content"></result>
        <result property="headPic" column="headPic"></result>
        <result property="createTime" column="createTime"></result>
        <result property="adminComment" column="adminComment"></result>
        <collection property="parentComment" ofType="Comment">
            <id property="id" column="parentCommentId"></id>
        </collection>
        <collection property="blog" ofType="Blog">
            <result property="id" column="blogId"></result>
        </collection>
    </resultMap>

    <!--添加评论-->
    <insert id="insertComment" parameterType="Comment">
        insert into t_comment(nickname,email,content,headPic,createTime,blogId,parentCommentId,adminComment)
        values(#{nickname},#{email},#{content},#{headPic},#{createTime},#{blog.id},#{parentComment.id},
        #{adminComment})
    </insert>
</mapper>
        <!--        private Long id;-->
        <!--        private String nickname;        //昵称-->
        <!--        private String email;       //邮箱-->
        <!--        private String content;     //评论内容-->
        <!--        private String headPic;     //头像-->
        <!--        private Date createTime;    //创建时间-->
        <!--        private Blog blog;          //博客-->
        <!--        private List<Comment> replyComments;    //子回复-->
        <!--private Comment parentComment;          //父回复-->
        <!--private boolean adminComment;           //管理员评论-->