<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.blog.mapper.TagMapper">
    <!--查询总数量-->
    <select id="countAll" resultType="java.lang.Long">
        select count(*) from t_tag
    </select>

    <!--分页显示所有-->
    <select id="listAll" resultMap="tag_listAll" parameterType="int">
        select * from t_tag limit #{index},#{size}
    </select>
    <resultMap id="tag_listAll" type="Tag">
        <id property="id" column="gId"></id>
        <result property="name" column="name"></result>
    </resultMap>

    <!--根据id查询-->
    <select id="findById" parameterType="java.lang.Long" resultMap="ById">
        select * from t_tag where gId=#{id}
    </select>
    <resultMap id="ById" type="Tag">
        <id property="id" column="gId"></id>
        <result property="name" column="name"></result>
    </resultMap>

    <!--根据name查询-->
    <select id="findByName" parameterType="java.lang.String" resultMap="ByName">
        select * from t_tag where name=#{name}
    </select>
    <resultMap id="ByName" type="Tag">
        <id property="id" column="gId"></id>
        <result property="name" column="name"></result>
    </resultMap>

    <!--新增-->
    <insert id="saveTag" parameterType="java.lang.String">
        insert into t_tag (name) values(#{name})
    </insert>

    <!--修改-->
    <update id="updateTag" parameterType="Tag">
        update t_tag set name=#{name} where gId=#{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_tag where gId=#{id}
    </delete>

    <!--新增blogId&tagId-->
    <insert id="saveBlogIdAndTagId" parameterType="java.lang.Long">
        insert into t_blog_tag value(#{blogId},#{tagId})
    </insert>

    <!--根据blogId删除-->
    <delete id="deleteByBlogId" parameterType="java.lang.Long">
        delete from t_blog_tag where blogId=#{blogId}
    </delete>

    <!--根据blogId查询-->
    <select id="findAllTagByBlogId" resultType="Tag" parameterType="java.lang.Long" resultMap="allTag">
        select g.* from t_blog_tag bt,t_tag g where bt.tagId=g.gId and bt.blogId=#{typeId}
    </select>
    <resultMap id="allTag" type="Tag">
        <id property="id" column="gId"></id>
        <result property="name" column="name"></result>
    </resultMap>

    <!--根据tagId删除t_blog_tag-->
    <delete id="deleteBTById" parameterType="java.lang.Long">
        delete from t_blog_tag where tagId=#{id}
    </delete>

    <!--根据blog数量倒序-->
    <select id="findAllBlogSizeByTag" parameterType="int" resultType="java.util.Map">
        select g.*,count(bt.blogId) c from t_tag g
        left join t_blog_tag bt
        on g.gId=bt.tagId
        left join t_blog b
        on bt.blogId=b.id
        where b.publish=true
        group by g.name
        order by c desc
        limit #{index},#{size}
    </select>

    <!--根据tagId查询blog-->
    <select id="findAllBlogByTagId" parameterType="HashMap" resultType="Blog" resultMap="tag_blog">
        select b.*,t.*,u.* from t_blog_tag bt,t_tag g,t_blog b,user u,t_type t
        where bt.tagId=g.gId
        and bt.blogId=b.id
        and g.gId=#{tagId}
        and b.typeId=t.tId
        and b.userId=u.id
        and b.publish=true
        limit #{index},#{size}
    </select>
    <resultMap id="tag_blog" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPic" column="firstPic"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="description" column="description"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentAble" column="commentAble"></result>
        <result property="publish" column="publish"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="appreciation" column="appreciation"></result>
        <collection property="type" ofType="Type">
            <id property="id" column="tId"></id>
            <result property="name" column="name"></result>
        </collection>
        <collection property="user" ofType="User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="email" column="email"></result>
            <result property="authority" column="authority"></result>
            <result property="headPic" column="headPic"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updateTime" column="updateTime"></result>
        </collection>
    </resultMap>

    <!--根据tagId查询blog数量-->
    <select id="countByTagId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT COUNT(b.id) FROM t_blog b,t_blog_tag bt
        WHERE b.id=bt.blogId and bt.tagId=#{tagId}
    </select>
</mapper>