body {
    background: url(../img/bg.png);
}

.nav-padd-min {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.padd {
    padding-bottom: 1em !important;
    padding-top: 1em !important;
}

.padd-large {
    padding-bottom: 2em !important;
    padding-top: 2em !important;
}

.padd-big {
    padding-bottom: 3em !important;
    padding-top: 3em !important;
}

.padd-huge {
    padding-bottom: 4em !important;
    padding-top: 4em !important;
}

.footer-padd-max {
    padding-bottom: 3.5em !important;
    padding-top: 3.5em !important;
}

.text-thin {
    font-weight: 300 !important;
}

.text-spaced {
    letter-spacing: 1px !important;
}

.text-lined {
    line-height: 1.8 !important;
}

.text-opacity {
    opacity: 0.7 !important;
}

.head-btn {
    display: none !important;
}

.zan {
    height: 120px !important;
    width: 120px !important;
    font-size: 1rem;
}

.padt {
    padding: 1em 1em 0 1em !important;
}

.type-pad {
    padding-top: 4em !important;
}

.shadow-small {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.tags-padd {
    padding: 1em 0 1em 0 !important;
    font-size: 0.85em !important;
}

.none {
    margin: 6em 3em 15em 3em;
    background-color: white;
    border: 1px solid #d4d4d5;
    padding: 1em;
    color: #00b5ad;
    text-align: center;
}

.archives-padd {
    padding: 2em 1.5em !important;
}

.archives-padd-min {
    padding: 2.5em 0 !important;
}

.about-pad-con,
.blogs-pad-con {
    padding: 0 2em !important;
}

.about-tags-mar {
    margin: 0.5em 0.5em !important;
}

.table-a {
    margin: 0 0.5em !important;
}


/*position*/

.fixed-right-bottom {
    position: fixed !important;
    bottom: 45% !important;
    right: 0 !important;
    z-index: 10 !important;
}

/*padding*/

.padd-both {
    padding: 1.5em 1em !important;
}

/*animate-duration*/

.nav-animate {
    -webkit-animation-duration: 1.5s !important;
    -moz-animation-duration: 1.5s !important;
    -o-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
}

.content-animate {
    -webkit-animation-duration: 2.3s !important;
    -moz-animation-duration: 2.3s !important;
    -o-animation-duration: 2.3s !important;
    animation-duration: 2.3s !important;
}

@media screen and (max-width: 768px) {
    .head-a {
        display: none !important;
    }

    .head-btn {
        display: block !important;
    }

    .zan {
        height: 70px !important;
        width: 70px !important;
        font-size: 1rem;
    }

    .wid {
        width: 100% !important;
    }

    .type-pad {
        padding: 0 0 !important;
    }

    .tags-padd {
        padding: 1.5em 0 1em 1em !important;
    }

    .wechat-size {
        width: 120px !important;
        height: auto;
    }
}